body {
    margin: 0;
    padding: 0;
  
    font-family: "Cuprum", Arial, sans-serif;
    color: black;
    background-color: white;
}

img {
    max-width: 100%
}

a {
    text-decoration: none
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
}

/* Header */

.header {
    background-color: #f4f7f9;
}

.header-top {
    background-color: #293449;
    font-size: 17px;
    height: 42px;
    color: white;
}

.header-top .container {
    display: flex;
    justify-content: space-between;
    height: inherit;
}

.header-top__logo {
    background-color: #ee3643;
    padding: 13px 55px;
    padding-bottom: 15px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-top__logo:hover {
    background-color: #ca2c37;
}

.header-top__logo:active {
    background-color: #ba2732;
}

.header-top__search-form:hover,
.header-top__bookmarks:hover,
.header-top__cart:hover {
    background-color: #212a3a;
}

.header-top__bookmarks:active,
.header-top__cart:active {
    background-color: #161d29;
}

.header-top__search:focus {
    background-color: white;
}

.header-top__search {
    background-color: inherit;
    border: none;
    color: black;
    padding: 11.5px 0;
    width: 100%;
}

.header-top__search::placeholder {
    color: white;
}

.header-top__search:focus::placeholder {
    color: black;
}

.header-top__search-form {
    flex-grow: 1;
}

.header-top__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-top__item {
    font-size: 17px;
    width: 150px;
}

.header-top__item a {
    color: white;
    display: block;
    text-align: center;
    padding: 11.5px 0;
}

.header-top__checkout {
    background-color: #63a63e;
}

.header-top__checkout:hover {
    background-color: #5fbb2d;
}

.header-top__checkout:active {
    background-color: #518534;
}

.header-bottom {
    background-color: #f4f7f9;
    padding-bottom: 60px;
}

.header-bottom .flex {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    margin-bottom: 31px;
}

.header-bottom__slogan {
    font-size: 16px;
    line-height: 1.44;
    font-style: italic;
    color: #ee3643;
    margin: 0;
    margin-left: 53px;
}

.header-bottom__info {
    font-size: 14px;
    color: #32425c;
    margin: 0;
}

.header-bottom__tel {
    font-size: 21px;
    color: #ee3643;
    display: block;
    box-sizing: border-box;
    width: 270px;
    height: 45px;
    border: solid 3px white;
    text-align: center;
    padding: 8px 0;
}

.header-bottom__info span {
    text-align: center;
    margin: 10px;
    display: block;
}

.header-bottom__reg {
    color: black;
    font-size: 21px;
    margin: 0;
}

.header-bottom__reg-item {
    background-color: white;
    border: none;
}

.header-bottom__reg-item:first-child {
    box-sizing: border-box;
    width: 121px;
    height: 45px;
}

.header-bottom__reg-item:last-child {
    box-sizing: border-box;
    width: 150px;
    height: 45px;
}

.header-bottom__reg-item:hover {
    color: #ee3643;
    cursor: pointer;
}

.header-bottom__reg-item:active {
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.header-bottom__logged-in {
    margin: 0;
}

.header-bottom__logged-in-name {
    background-color: white;
    font-size: 21px;
    box-sizing: border-box;
    padding: 10.5px 47px;
    padding-right: 69px;
    margin: 0;
}

.header-bottom__logged-in-name a {
    color: #000000;
    font-size: inherit;
}

.header-bottom__logged-in-name a:active {
    opacity: 30%;
    color: #000000;
}

.header-bottom__logged-in-list {
    list-style: none;
    display: flex;
    padding-left: 17px;
    margin: 0;
    margin-top: 10px;
}

.header-bottom__logged-in-list a {
    color: #32425c;
    font-size: 16px;
    text-decoration: underline;
}

.header-bottom__logged-in-list a:hover {
    color: #ee3643;
}

.header-bottom__logged-in-list a:active {
    color: rgba(50, 66, 92, 0.3);
    text-decoration: underline;
}

.header-bottom__orders {
    margin-right: 32px;
    position: relative;
}

.header-bottom__orders::after {
    content: url(../img/logged-in-dot.png);
    position: absolute;
    right: -17px;
    top: -2px;
}

.header-bottom__nav {
    font-size: 17px;
    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
}

.header-bottom__nav-list {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-right: 55px;
    padding-left: 50px;
}

.header-bottom__nav-item {
    padding-top: 19px;
    padding-bottom: 22px;
}

.header-bottom__nav-item a {
    color: white;
    line-height: 1;
}

.header-bottom__nav-item:hover {
    background-color: #293449;
}

.header-bottom__nav-item:active {
    background-color: #1d2739;
}

/* End header */

/* Index.html */

.menu__item-1 {
    background-color: #ffbf47;
}

.menu__item-2 {
    background-color: #3bbce3;
}

.menu__item-3 {
    background-color: #dc91d8;
}

.menu__item-4 {
    background-color: #8ed78f;
}

.menu__item-5 {
    background-color: #ffc047;
}

.menu__item__title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: white;
}

.menu__item__text {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    text-transform: uppercase;
}

.menu__item__text:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.menu__item__text:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.menu__slider__list {
    list-style: none;
}

.menu__slider__title {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.menu__slider__subtitle {
    font-size: 18px;
    color: white;
}

.menu__slider__link {
    font-size: 14px;
    color: white;
    background-color: #ee3643;
    text-transform: uppercase;
}

.menu__slider__link:hover {
    background-color: #ca2c37;
}

.menu__slider__link:active {
    background-color: #ba2732;
}

.menu__slider__nav {
    list-style: none;
}

.menu__slider__pagination {
    list-style: none;
}

.popular__header,
.brands__header {
    background-color: #f9f5f0;
}

.popular__title,
.brands__title {
    font-size: 30px;
    text-align: left;
    color: #32425c;
    text-transform: uppercase;
}

.popular__link,
.brands__link {
    color: white;
    font-size: 14px;
    background-color: #ee3643;
    text-transform: uppercase;
}

.popular__list {
    list-style: none;
}

.popular__item {
    border: solid 1px #eaeaea;
    font-family: 'PT Sans', Arial, sans-serif;
}

.popular__item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    border: none;
}

.popular__caption {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    color: black;
}

.popular__old-price {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-decoration: line-through;
    color: #a9a9a9;
}

.popular__price {
    width: 141px;
    padding: 10px 0;
    position: relative;
    font-size: 17px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: white;
    background: url("../img/item-button.svg") no-repeat 100% center;
}

.popular__item-hover {
    list-style: none;
    display: none;
}

.popular__item-hover button {
    text-transform: uppercase;
}

.popular__add-to-cart {
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #63a63e;
    border: none;
    border-radius: 3px;
}

.popular__add-to-cart:hover {
    background-color: #5fbb2d;
}

.popular__add-to-cart:active {
    background-color: #518534;
}

.popular__add-to-bookmarks {
    background-color: white;
    border: solid 3px #63a63e;
    border-radius: 3px;
}

.popular__add-to-bookmarks:hover {
    border-color: #32425c;
}

.popular__add-to-bookmarks:active {
    opacity: 0.3;
}

.brands__list {
    list-style: none;
}

.brands__item {
    width: 220px;
    height: 145px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
}

.brands__item span {
    display: block;
    width: 220px;
    height: 145px;
}

.brands__item span:active {
    opacity: 30%;
}

.brands__item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    border: none;
}

.brands__item:active {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brands__img {
    display: block;
    margin: 0 auto;
}

.service {
    background-color: #f4f7f9;
}

.service__title {
    font-size: 30px;
    color: black;
    text-transform: uppercase;
}

.service__text {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    color: black;
}

.service__list {
    list-style: none;
}

.service__item button {
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
    background-color: #32425c;
    border: none;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.service__active-item button {
    box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
    background-color: #ffffff;
    border: none;
    font-size: 21px;
    font-weight: bold;
    color: #32425c;
    cursor: default;
}

.service__item button:hover {
    background-color: #293449;
}

.service__active-item button:hover {
    background-color: #ffffff;
}

.service__block__title {
    font-size: 36px;
    color: #32425c;
    text-transform: uppercase;
}

.service__block__text {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    color: black;
}

.service__block__link {
    color: white;
    font-size: 14px;
    background-color: #ee3643;
}

.service__block:not(.service__active-block) {
    display: none;
}

.container-about {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 86px;
}

.about-us__title,
.contacts__title {
    font-size: 30px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    margin-top: 0;
}

.about-us__text,
.contacts__text {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    text-align: left;
    color: #000000;
    margin: 35px 0;
}

.about-us__list {
    list-style: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 2;
    text-align: left;
    color: #000000;
    padding: 10px;
}

.about-us__item::before {
    content: url("../img/indicator.png");
    position: relative;
    top: -5px;
    left: -10px;
}

.about-us__link,
.contacts__link {
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: #ee3643;
    text-transform: uppercase;
    padding: 12px 40px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 3px;
}

.contacts__link {
    width: 300px;
    box-sizing: border-box;
    margin-top: 40px;
}

.contacts__popup {
    display: block;
    height: 158px;
}

/* End index.html */

/* Catalog.html */

.added-to-basket-popup {
    display: none;
}

.breadcrumbs {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    display: flex;
    margin-top: 25px;
}

.breadcrumbs__item {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
}

.breadcrumbs__item a {
    color: black;
    margin-right: 41px;
}

.main-title {
    font-size: 30px;
    color: #32425c;
    background-color: #f2f6f8;
    padding: 28px 30px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.catalog-container {
    display: flex;
    justify-content: space-between;
}

.filter {
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase;
    width: 220px;
}

.filter__title {
    font-size: 13px;
    color: black;
    background-color: #f7f3ec;
    margin-top: 0;
}

.filter__form {
    color: #000000;
}

.filter-price__group {
    border: none;
    padding: 0;
}

.filter-price__range-span {
    background-color: #f7f3ec;
}

.filter-price__input {
    background-color: #f7f3ec;
    border: none;
}

.filter-other__group {
    border: none;
    padding: 0;
}

.filter-other__title {
    font-size: 17px;
    font-weight: bold;
    margin: 25px 0;
    padding-top: 25px;
    border-top: solid 1px #f7f3ec;
    width: 100%;
}

.filter-other__list {
    list-style: none;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.filter-other__list:first-of-type {
    margin-bottom: 25px;
}

.filter-other__item {
    margin-top: 25px;
}

.filter-other__item:first-child {
    margin-top: 0;
}

.filter__form button {
    font-size: 13px;
    text-transform: inherit;
    background-color: white;
    border: solid 1px #e5e5e5;
    width: 140px;
    height: 38px;
    margin-top: 75px;
}

.sort {
    background-color: #f7f3ec;
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase;
}

.sort__title {
    font-size: 13px;
    margin-top: 0;
}

.sort__list {
    list-style: none;
}

.sort__item button {
    font-family: inherit;
    text-transform: inherit;
    box-sizing: border-box;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: dotted 1px #ee3643;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.18);
}

.sort__item button:hover {
    border-bottom-style: solid;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.sort__item button:active,
.sort__item-active button {
    border: none;
    color: #ee3643;
}

.sort__item-active button:hover {
    border: none;
    color: #ee3643;
    cursor: default;
}

.sort__list-2 {
    list-style: none;
}

.sort__item-2 button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.catalog {
    width: 700px;
}

.catalog__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.catalog__item {
    border: solid 1px #eaeaea;
    font-family: 'PT Sans', Arial, sans-serif;
    width: 220px;
    min-height: 318px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.catalog__item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    border-color: white;
}

.catalog__caption {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    color: black;
    margin: 10px 0;
    margin-bottom: 15px;
}

.catalog__old-price {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-decoration: line-through;
    color: #a9a9a9;
    margin: 0;
    margin-bottom: 10px;
}

.catalog__price {
    width: 141px;
    box-sizing: border-box;
    padding: 9.5px 0;
    position: relative;
    font-size: 17px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: white;
    background: url("../img/item-button.svg") no-repeat 100% center;
}

.catalog__item-hover {
    list-style: none;
    display: none;
}

.catalog__item-hover button {
    text-transform: uppercase;
}

.catalog__add-to-cart {
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #63a63e;
    border: none;
    border-radius: 3px;
}

.catalog__add-to-cart:hover {
    background-color: #5fbb2d;
}

.catalog__add-to-cart:active {
    background-color: #518534;
}

.catalog__add-to-bookmarks {
    background-color: white;
    border: solid 3px #63a63e;
    border-radius: 3px;
}

.catalog__add-to-bookmarks:hover {
    border-color: #32425c;
}

.catalog__add-to-bookmarks:active {
    opacity: 0.3;
}

.catalog__nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 60px;
}

.catalog__nav-item {
    height: 38px;
    margin-right: 10px;
}

.catalog__nav-item:last-child a {
    padding-left: 32px;
    padding-right: 32px;
}

.catalog__nav-item a {
    color: black;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'PT Sans', Arial, sans-serif;
    border: solid 1px #e5e5e5;
    display: block;
    box-sizing: border-box;
    padding: 11.5px 11.5px;
    padding-left: 14px;
    min-width: 38px;
    height: 38px;
    border-radius: 2px;
}

.catalog__nav-item a:hover {
    border-color: #bdc6ca;
}

.catalog__nav-item a:active {
    border-color: #ee3643;
}

.catalog__nav-active-item a,
.catalog__nav-active-item:hover a,
.catalog__nav-active-item:active a {
    border-color: #ee3643;
    color: white;
    font-size: 13px;
    font-family: 'PT Sans', Arial, sans-serif;
    background-color: #ee3643;
    cursor: pointer;
}

.about-product {
    background-color: #f4f7f9;
}

.about-product__title {
    text-transform: uppercase;
    font-size: 30px;
}

.about-product__text {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    margin: 0;
}

/* End catalog.html */

/* Footer */

.footer-top {
    background-color: #32425c;
}

.footer-top-1part {
    display: flex;
    justify-content: space-between;
}

.footer-top-1part__logo {
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
    padding: 20px 41px;
    padding-bottom: 25px;
}

.footer-top-1part__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 0;
    padding: 0;
}

.footer-top-1part__item {
    padding-left: 60px;
}

.footer-top-1part__item a {
    font-size: 18px;
    color: #f1f5f7;
}

.footer-top-2part {
    display: flex;
    justify-content: space-between;
}

.footer-top-2part__info {
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
    color: #f3f7f9;
    margin: 30px 0;
    margin-bottom: 50px;
}

.footer-top-2part__info a {
    color: inherit;
}

.footer-top-2part__list {
    list-style: none;
    margin: 0;
    margin-top: 31px;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.footer-top-2part__item {
    padding-left: 60px;
}

.footer-top-2part__item a {
    color: #ffd180;
    font-size: 18px;
}

.footer-top-1part__item a:hover,
.footer-top-2part__item a:hover {
    text-decoration: underline;
}

.footer-top-1part__item a:active,
.footer-top-2part__item a:active {
    opacity: 50%;
    text-decoration: none;
}

.footer-bottom {
    background-color: #293449;
}

.footer-bottom .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 107px;
}

.footer-bottom__copyright {
    margin: 0;
    font-size: 16px;
    line-height: 1.13;
    text-align: left;
    color: white;
}

.footer-bottom__socials {
    list-style: none;
}

.footer-bottom__feedback,
.footer-bottom__developed {
    font-size: 16px;
    line-height: 1.13;
    text-align: left;
    color: white;
    margin: 0;
}

.footer-bottom__developed {
    margin-right: 15px;
}

.footer-bottom__feedback {
    margin-right: 53px;
}

.footer-bottom__feedback a,
.footer-bottom__developed a {
    color: #ffd180;
}

.footer-bottom__feedback a:hover,
.footer-bottom__developed a:hover {
    text-decoration: underline;
}

.footer-bottom__feedback a:active,
.footer-bottom__developed a:active {
    text-decoration: none;
    color: #ee3643;
}

.footer-bottom__socials {
    margin-right: 119px;
    display: flex;
    padding: 0;
}

.footer-bottom__copyright {
    margin-right: auto;
}

.map-popup,
.contact-popup {
    display: none;
}

/* End footer */
