body {
    margin: 0;
    padding: 0;
  
    font-family: "Cuprum", Arial, sans-serif;
    color: black;
    background-color: white;
}

img {
    max-width: 100%
}

a {
    text-decoration: none
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
}

/* Header */

.header {
    background-color: #f4f7f9;
}

.header-top {
    background-color: #293449;
    font-size: 17px;
    color: white;
}

.header-top__logo {
    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-top__logo:hover {
    background-color: #ca2c37;
}

.header-top__logo:active {
    background-color: #ba2732;
}

.header-top__search-form:hover,
.header-top__bookmarks:hover,
.header-top__cart:hover {
    background-color: #212a3a;
}

.header-top__bookmarks:active,
.header-top__cart:active {
    background-color: #161d29;
}

.header-top__search:focus {
    background-color: white;
}

.header-top__search {
    background-color: inherit;
    border: none;
    color: black;
}

.header-top__list {
    list-style: none;
    margin: 0;
}

.header-top__item {
    font-size: 17px;
}

.header-top__item a {
    color: white;
}

.header-top__checkout {
    background-color: #63a63e;
}

.header-top__checkout:hover {
    background-color: #5fbb2d;
}

.header-top__checkout:active {
    background-color: #518534;
}

.header-bottom {
    background-color: #f4f7f9;
}

.header-bottom__slogan {
    font-size: 16px;
    font-style: italic;
    color: #ee3643;
    margin: 0;
}

.header-bottom__info {
    font-size: 14px;
    color: #32425c;
}

.header-bottom__tel {
    font-size: 21px;
    color: #ee3643;
    border: solid 3px white;
}

.header-bottom__reg {
    color: black;
    font-size: 21px;
}

.header-bottom__reg-item {
    background-color: white;
    border: none;
}

.header-bottom__reg-item:hover {
    color: #ee3643;
    cursor: pointer;
}

.header-bottom__reg-item:active {
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.header-bottom__logged-in-name {
    background-color: white;
    font-size: 21px;
    color: #000000;
}

.header-bottom__logged-in-name:active {
    opacity: 30%;
}

.header-bottom__logged-in-list {
    list-style: none;
}

.header-bottom__logged-in-list a {
    color: #32425c;
    font-size: 16px;
    text-decoration: underline;
}

.header-bottom__logged-in-list a:hover {
    color: #ee3643;
}

.header-bottom__logged-in-list a:active {
    color: rgba(50, 66, 92, 0.3);
    text-decoration: underline;
}

.header-bottom__nav {
    font-size: 17px;
    background-color: #32425c;
}

.header-bottom__nav-list {
    list-style: none;
}

.header-bottom__nav-item a {
    color: white;
}

.header-bottom__nav-item:hover {
    background-color: #293449;
}

.header-bottom__nav-item:active {
    background-color: #1d2739;
}

/* End header */

/* Index.html */

.menu__item-1 {
    background-color: #ffbf47;
}

.menu__item-2 {
    background-color: #3bbce3;
}

.menu__item-3 {
    background-color: #dc91d8;
}

.menu__item-4 {
    background-color: #8ed78f;
}

.menu__item-5 {
    background-color: #ffc047;
}

.menu__item__title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: white;
}

.menu__item__text {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    text-transform: uppercase;
}

.menu__item__text:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.menu__item__text:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.menu__slider__list {
    list-style: none;
}

.menu__slider__title {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.menu__slider__subtitle {
    font-size: 18px;
    color: white;
}

.menu__slider__link {
    font-size: 14px;
    color: white;
    background-color: #ee3643;
    text-transform: uppercase;
}

.menu__slider__link:hover {
    background-color: #ca2c37;
}

.menu__slider__link:active {
    background-color: #ba2732;
}

.menu__slider__nav {
    list-style: none;
}

.menu__slider__pagination {
    list-style: none;
}

.popular__header,
.brands__header {
    background-color: #f9f5f0;
}

.popular__title,
.brands__title {
    font-size: 30px;
    text-align: left;
    color: #32425c;
    text-transform: uppercase;
}

.popular__link,
.brands__link {
    color: white;
    font-size: 14px;
    background-color: #ee3643;
    text-transform: uppercase;
}

.popular__list {
    list-style: none;
}

.popular__item {
    border: solid 1px #eaeaea;
    font-family: 'PT Sans', Arial, sans-serif;
}

.popular__item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    border: none;
}

.popular__caption {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    color: black;
}

.popular__old-price {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-decoration: line-through;
    color: #a9a9a9;
}

.popular__price {
    width: 141px;
    padding: 10px 0;
    position: relative;
    font-size: 17px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: white;
    background: url("../img/item-button.svg") no-repeat 100% center;
}

.popular__item-hover {
    list-style: none;
    display: none;
}

.popular__item-hover button {
    text-transform: uppercase;
}

.popular__add-to-cart {
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #63a63e;
    border: none;
    border-radius: 3px;
}

.popular__add-to-cart:hover {
    background-color: #5fbb2d;
}

.popular__add-to-cart:active {
    background-color: #518534;
}

.popular__add-to-bookmarks {
    background-color: white;
    border: solid 3px #63a63e;
    border-radius: 3px;
}

.popular__add-to-bookmarks:hover {
    border-color: #32425c;
}

.popular__add-to-bookmarks:active {
    opacity: 0.3;
}

.brands__list {
    list-style: none;
}

.brands__item {
    width: 220px;
    height: 145px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
}

.brands__item span {
    display: block;
    width: 220px;
    height: 145px;
}

.brands__item span:active {
    opacity: 30%;
}

.brands__item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    border: none;
}

.brands__item:active {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brands__img {
    display: block;
    margin: 0 auto;
}

.service {
    background-color: #f4f7f9;
}

.service__title {
    font-size: 30px;
    color: black;
    text-transform: uppercase;
}

.service__text {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    color: black;
}

.service__list {
    list-style: none;
}

.service__item button {
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
    background-color: #32425c;
    border: none;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.service__active-item button {
    box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
    background-color: #ffffff;
    border: none;
    font-size: 21px;
    font-weight: bold;
    color: #32425c;
    cursor: default;
}

.service__item button:hover {
    background-color: #293449;
}

.service__active-item button:hover {
    background-color: #ffffff;
}

.service__block__title {
    font-size: 36px;
    color: #32425c;
    text-transform: uppercase;
}

.service__block__text {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    color: black;
}

.service__block__link {
    color: white;
    font-size: 14px;
    background-color: #ee3643;
}

.service__block:not(.service__active-block) {
    display: none;
}

.about__title,
.contacts__title {
    font-size: 30px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.about__text,
.contacts__text {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    text-align: left;
    color: #000000;
}

.about__list {
    list-style: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 2;
    text-align: left;
    color: #000000;
}

.about__item::before {
    content: url("../img/indicator.png");
    position: relative;
    top: -5px;
    left: -10px;
}

.about__link,
.contacts__link {
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: #ee3643;
    text-transform: uppercase;
}

/* End index.html */

/* Catalog.html */

.added-to-basket-popup {
    display: none;
}

.breadcrumbs {
    list-style: none;
    text-transform: uppercase;
}

.breadcrumbs__item a {
    color: black;
}

.main-title {
    font-size: 30px;
    color: #32425c;
    background-color: #f2f6f8;
}

.filter {
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase;
}

.filter__title {
    font-size: 13px;
    color: black;
    background-color: #f7f3ec;
}

.filter__form {
    color: #000000;
}

.filter-price__group {
    border: none;
}

.filter-price__range-span {
    background-color: #f7f3ec;
}

.filter-price__input {
    background-color: #f7f3ec;
    border: none;
}

.filter-other__group {
    border: none;
    border-top: solid 1px #f7f3ec;
}

.filter-other__title {
    font-size: 17px;
    font-weight: bold;
}

.filter-other__list {
    list-style: none;
    font-size: 15px;
}

.filter__form button {
    font-size: 13px;
    text-transform: inherit;
    background-color: white;
    border: solid 1px #e5e5e5;
}

.sort {
    background-color: #f7f3ec;
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase;
}

.sort__title {
    font-size: 13px;
}

.sort__list {
    list-style: none;
}

.sort__item button {
    font-family: inherit;
    text-transform: inherit;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: dotted 1px #ee3643;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.18);
}

.sort__item button:hover {
    border-bottom-style: solid;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.sort__item button:active,
.sort__item-active button {
    border: none;
    color: #ee3643;
}

.sort__item-active button:hover {
    border: none;
    color: #ee3643;
    cursor: default;
}

.sort__list-2 {
    list-style: none;
}

.sort__item-2 button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.catalog__list {
    list-style: none;
}

.catalog__item {
    border: solid 1px #eaeaea;
    font-family: 'PT Sans', Arial, sans-serif;
}

.catalog__item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    border: none;
}

.catalog__caption {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    color: black;
}

.catalog__old-price {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-decoration: line-through;
    color: #a9a9a9;
}

.catalog__price {
    width: 141px;
    padding: 10px 0;
    position: relative;
    font-size: 17px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: white;
    background: url("../img/item-button.svg") no-repeat 100% center;
}

.catalog__item-hover {
    list-style: none;
    display: none;
}

.catalog__item-hover button {
    text-transform: uppercase;
}

.catalog__add-to-cart {
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #63a63e;
    border: none;
    border-radius: 3px;
}

.catalog__add-to-cart:hover {
    background-color: #5fbb2d;
}

.catalog__add-to-cart:active {
    background-color: #518534;
}

.catalog__add-to-bookmarks {
    background-color: white;
    border: solid 3px #63a63e;
    border-radius: 3px;
}

.catalog__add-to-bookmarks:hover {
    border-color: #32425c;
}

.catalog__add-to-bookmarks:active {
    opacity: 0.3;
}

.catalog__nav-list {
    list-style: none;
}

.catalog__nav-item a {
    color: black;
    font-size: 13px;
    font-family: 'PT Sans', Arial, sans-serif;
    border: solid 1px #e5e5e5;
}

.catalog__nav-item a:hover {
    border-color: #bdc6ca;
}

.catalog__nav-item a:active {
    border-color: #ee3643;
}

.catalog__nav-active-item {
    color: white;
    font-size: 13px;
    font-family: 'PT Sans', Arial, sans-serif;
    background-color: #ee3643;
}

.about {
    background-color: #f4f7f9;
}

.about__title {
    text-transform: uppercase;
    font-size: 30px;
}

.about__text {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
}

/* End catalog.html */

/* Footer */

.footer-top {
    background-color: #32425c;
}

.footer-top-1part__logo {
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}

.footer-top-1part__list {
    list-style: none;
}

.footer-top-1part__item a {
    font-size: 18px;
    color: #f1f5f7;
}

.footer-top-2part__info {
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
    color: #f3f7f9;
}

.footer-top-2part__info a {
    color: inherit;
}

.footer-top-2part__list {
    list-style: none;
    margin: 0;
}

.footer-top-2part__item a {
    color: #ffd180;
    font-size: 18px;
}

.footer-top-1part__item:hover,
.footer-top-2part__item:hover {
    text-decoration: underline;
}

.footer-top-1part__item:active,
.footer-top-2part__item:active {
    opacity: 50%;
    text-decoration: none;
}

.footer-bottom {
    background-color: #293449;
}

.footer-bottom__copyright {
    margin: 0;
    font-size: 16px;
    line-height: 1.13;
    text-align: left;
    color: white;
}

.footer-bottom__socials {
    list-style: none;
}

.footer-bottom__developed {
    margin: 0;
}

.footer-bottom__feedback,
.footer-bottom__developed {
    font-size: 16px;
    line-height: 1.13;
    text-align: left;
    color: white;
}

.footer-bottom__feedback a,
.footer-bottom__developed a {
    color: #ffd180;
}

.footer-bottom__feedback a:hover,
.footer-bottom__developed a:hover {
    text-decoration: underline;
}

.footer-bottom__feedback a:active,
.footer-bottom__developed a:active {
    text-decoration: none;
    color: #ee3643;
}

.map-popup,
.contact-popup {
    display: none;
}

/* End footer */
