body {
    margin: 0;
    padding: 0;
  
    font-family: "Cuprum", Arial, sans-serif;
    color: black;
    background-color: white;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.red-button:hover {
    background-color: #ca2c37;
}

.red-button:active,
.red-button:focus {
    background-color: #ba2732;
}

/* Header */

.header {
    background-color: #f4f7f9;
}

/* Header-top */

.header-top {
    background-color: #293449;
    font-size: 17px;
    min-height: 42px;
    color: white;
}

.header-top .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: inherit;
}

.header-top__logo-link {
    margin-bottom: -4px;
}

.header-top__logo {
    background-color: #ee3643;
    padding: 11.5px 55.5px;
    box-shadow: 0px 5px 0 0 #b72f38;
}

.header-top__logo-link:hover .header-top__logo {
    background-color: #ca2c37;
    box-shadow: 0px 5px 0 0 #9a212a;
}

.header-top__logo-link:active .header-top__logo,
.header-top__logo-link:focus .header-top__logo {
    background-color: #ba2732;
    box-shadow: 0px 5px 0 0 #8e1e26;
}

.header-top__logo-link:focus {
    outline: none;
}

.header-top__search-form {
    flex-grow: 1;
    position: relative;
}

.header-top__search {
    background-color: inherit;
    border: none;
    color: black;
    padding: 12px 0;
    padding-left: 48px;
    width: 100%;
    box-sizing: border-box;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    background-color: #293449;
}

.header-top__search:hover {
    background-color: #212a3a;
    opacity: 1;
}

.header-top__search:focus {
    background-color: white;
    outline: none;
}

/* Placeholder style */

.header-top__search::-webkit-input-placeholder {
    color: white;
}

.header-top__search::-moz-placeholder {
    color: white;
}

.header-top__search:-ms-input-placeholder {
    color: white;
}

.header-top__search::-ms-input-placeholder {
    color: white;
}

.header-top__search::placeholder {
    color: white;
}

.header-top__search-icon {
    position: absolute;
    top: 12px;
    left: 17px;
    opacity: 0.3;
}

.header-top__search-icon:hover {
    opacity: 1;
}

.header-top__search:hover + .header-top__search-icon {
    opacity: 1;
}

.header-top__search:focus + .header-top__search-icon {
    opacity: 1;
}

.header-top__search:focus + .header-top__search-icon path {
    fill: #ee3643;
    opacity: 1;
}

.header-top__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.header-top__item {
    font-size: 17px;
    width: 150px;
}

.header-top__item a {
    color: white;
    display: block;
    text-align: center;
    padding: 11px 0;
    padding-bottom: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
}

.header-top__bookmarks a {
    padding-left: 2px;
    padding-top: 10px;
}

.header-top__bookmarks a::before {
    content: url(../img/icon-bookmark.svg);
    opacity: 0.3;
    position: relative;
    left: -13px;
    top: 2px;
}

.header-top__cart a {
    padding-left: 3px;
}

.header-top__cart a::before {
    content: url(../img/icon-cart.svg);
    opacity: 0.3;
    position: relative;
    left: -16px;
    top: 1px;
}

.header-top__bookmarks a:hover,
.header-top__cart a:hover,
.header-top__bookmarks a:focus,
.header-top__cart a:focus {
    background-color: #212a3a;
    outline: none;
}

.header-top__bookmarks a:active,
.header-top__cart a:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.header-top__bookmarks a:hover::before,
.header-top__cart a:hover::before,
.header-top__bookmarks a:focus::before,
.header-top__cart a:focus::before {
    opacity: 1;
}

.header-top__bookmarks a:active::before,
.header-top__cart a:active::before {
    opacity: 0.5;
}

.header-top__cart.header-top__full-cart,
.header-top__cart.header-top__full-cart a:active {
    background-color: #ee3643;
}

.header-top__checkout {
    background-color: #63a63e;
}

.header-top__checkout a {
    padding-top: 12px;
    padding-right: 2px;
}

.header-top__checkout a:hover,
.header-top__checkout a:focus {
    background-color: #5fbb2d;
    outline: none;
}

.header-top__checkout a:active {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.6);
}

/* Header-bottom */

.header-bottom {
    background-color: #f4f7f9;
    padding-bottom: 60px;
}

.header-bottom .flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 46px;
    margin-bottom: 40px;
}

.header-bottom__slogan {
    font-size: 16px;
    line-height: 1.44;
    font-style: italic;
    color: #ee3643;
    margin: 0;
    margin-left: 52px;
    margin-top: 3px;
    max-width: 200px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.header-bottom__info {
    font-size: 14px;
    color: #32425c;
    margin: 0;
    margin-left: 72px;
    max-width: 270px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
}

.header-bottom__tel {
    font-size: 21px;
    color: #ee3643;
    display: block;
    box-sizing: border-box;
    width: 270px;
    min-height: 45px;
    border: solid 3px white;
    text-align: center;
    padding: 9px 0;
    padding-left: 22px;
    line-height: 1;
    background: url(../img/icon-phone.svg) no-repeat 5% 50%;
}

.header-bottom__info span {
    text-align: center;
    display: block;
    margin-top: 4px;
}

/* Unlogged */

.header-bottom__reg {
    color: black;
    font-size: 21px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-left: auto;
    padding: 0;
}

.header-bottom__reg-item:first-child {
    margin-right: 10px;
    box-sizing: border-box;
    width: 121px;
    min-height: 45px;
}

.header-bottom__reg-item:last-child {
    box-sizing: border-box;
    width: 150px;
    min-height: 45px;
}

.header-bottom__reg-item button {
    background-color: white;
    padding: 0;
    padding-bottom: 1px;
    border: none;
    width: inherit;
    min-height: inherit;
}

.header-bottom__reg-item button:hover,
.header-bottom__reg-item button:focus {
    color: #ee3643;
    cursor: pointer;
    outline: none;
}

.header-bottom__reg-item button:active {
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.header-bottom__reg-item:first-child button {
    padding-left: 20px;
    background: white url(../img/icon-login.svg) no-repeat 14% 50%;
}

.header-bottom__reg-item:first-child button:hover,
.header-bottom__reg-item:first-child button:focus {
    background-image: url(../img/icon-login-hover.svg);
}

.header-bottom__reg-item:first-child button:active {
    background-image: url(../img/icon-login.svg);
}

/* Logged */

.header-bottom__logged-in {
    margin: 0;
    margin-left: auto;
}

.header-bottom__logged-in-name {
    font-size: 21px;
    width: 299px;
    min-height: 45px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    background-color: white;
}

.header-bottom__logged-in-name a:first-child {
    color: #000000;
    font-size: inherit;
    padding: 10px 0;
    padding-left: 46px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    background: url(../img/icon-user.svg) no-repeat 6% 49%;
}

.header-bottom__logged-in-name a:first-child:hover,
.header-bottom__logged-in-name a:first-child:focus {
    background-image: url(../img/icon-user-hover.svg);
}

.header-bottom__logged-in-name a:first-child:active {
    background-image: url(../img/icon-user.svg);
    color: rgba(0, 0, 0, 0.3);
}

.header-bottom__log-out {
    min-height: inherit;
    width: 41px;
    background: url(../img/icon-logout.svg) no-repeat 50% 50%;
}

.header-bottom__log-out:hover,
.header-bottom__log-out:focus {
    background-image: url(../img/icon-logout-hover.svg);
}

.header-bottom__log-out:active {
    background-image: url(../img/icon-logout.svg);
}

.header-bottom__logged-in-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 17px;
    margin: 0;
    margin-top: 8px;
}

.header-bottom__logged-in-list a {
    color: #32425c;
    font-size: 16px;
    text-decoration: underline;
    line-height: 1.13;
}

.header-bottom__logged-in-list a:hover,
.header-bottom__logged-in-list a:focus {
    color: #ee3643;
    outline: none;
}

.header-bottom__logged-in-list a:active {
    color: rgba(50, 66, 92, 0.3);
    text-decoration: underline;
}

.header-bottom__orders {
    margin-right: 32px;
    position: relative;
}

.header-bottom__orders::after {
    content: url(../img/logged-in-dot.png);
    position: absolute;
    right: -19px;
    top: -2px;
}

/* Main navigation */

.header-bottom__nav {
    font-size: 17px;
    background-color: #32425c;
}

.header-bottom__nav-list {
    list-style: none;
    margin: 0;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
}

.header-bottom__nav-item {
    box-sizing: border-box;
    min-height: 60px;
}

.header-bottom__nav-item a {
    display: block;
    color: white;
    line-height: 1;
    box-sizing: border-box;
    padding: 20px 30.5px;
    line-height: 1;
}

.header-bottom__nav-item:hover {
    background-color: #293449;
}

.header-bottom__nav-item:active,
.header-bottom__nav-item a:focus {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
    outline: none;
}

/* Index.html */

/* Menu */

.menu .container {
    margin-top: 59px;
    margin-bottom: 30px;
}

.menu__item {
    width: 300px;
    min-height: 123px;
    margin-bottom: 20px;
    padding-top: 21px;
    box-sizing: border-box;
    position: relative;
}

.menu__new-item {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    z-index: 2;
    background: url(../img/new-flag.png) no-repeat 0 0;
}

.menu__item__title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: white;
    margin: 0;
    line-height: 1.25;
    margin-left: 22px;
}

.menu__item__text {
    display: inline-block;
    vertical-align: middle;
    width: 135px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-left: 24px;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 9px;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    text-transform: uppercase;
    line-height: 1.29;
}

.menu__item__text:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.menu__item__text:active,
.menu__item__text:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Menu-top */

.menu-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

.menu__item-1 {
    background: #ffbf47 url(../img/icon-1.svg) no-repeat 213px 31px;
}

.menu__item-2 {
    background: #3bbce3 url(../img/icon-2.svg) no-repeat 197px 33px;
}

.menu__item-3 {
    background: #dc91d8 url(../img/icon-3.svg) no-repeat 191px 31px;
}

/* Menu-bottom */ 

.menu-bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* Menu-bottom-right */

.menu-bottom__right {
    width: 300px;
}

.menu__item-4 {
    background: #8ed78f url(../img/icon-4.svg) no-repeat 196px 26px;
    margin-bottom: 20px;
}

.menu__item-5 {
    background: #ffc047 url(../img/icon-5.svg) no-repeat 191px 32px;
    margin-bottom: 0;
}

/* Menu slider */

.menu__slider {
    position: relative;
    margin: 0;
    padding: 0;
}

.menu__slider__list {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.menu__slider__item {
    position: relative;
    margin: 0;
    padding: 0;
}

.menu__slider__item:last-child {
    display: none;
}

/* Menu slider over-image */

.menu__slider__over-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
}

.menu__slider__title {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin: 0;
    margin-top: 23px;
    margin-bottom: 2px;
    line-height: 1;
}

.menu__slider__subtitle {
    font-size: 18px;
    color: white;
    margin: 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}

.menu__slider__link {
    display: inline-block;
    width: 195px;
    font-size: 14px;
    color: white;
    background-color: #ee3643;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 3px;
    border-radius: 3px;
    line-height: 1.29;
    margin-top: 122px;
    margin-left: 1px;
}

/* Menu slider nav */

.menu__slider__nav {
    list-style: none;
    margin: 0;
    padding: 0 25px;
    position: absolute;
    left: 0;
    bottom: 42%;
    right: 0;
}

.menu__slider__nav-item:last-child {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 20px;
}

.menu__slider__nav-item button {
    padding: 20px 11px;
    border: none;
    cursor: pointer;
}

.menu__slider__nav-item:first-child button {
    background: url(../img/icon-left.svg) no-repeat;
}

.menu__slider__nav-item:last-child button {
    background: url(../img/icon-right.svg) no-repeat;
}

/* Menu slider pagination */

.menu__slider__pagination {
    list-style: none;
    margin: 0 295px;
    padding: 0;
    position: absolute;
    bottom: 34px;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu__slider__pagination__item button {
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: white;
    border: 2px white solid;
    cursor: pointer;
}

.menu__slider__pagination__item-active button {
    background-color: #ee3643;
    cursor: default;
}

/* Popular products and brands */

.popular {
    padding-top: 23px;
}

.popular__header,
.brands__header {
    background-color: #f9f5f0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.popular__title,
.brands__title {
    font-size: 30px;
    text-align: left;
    color: #32425c;
    text-transform: uppercase;
    margin: 30px;
    margin-bottom: 29px;
    margin-left: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
}

.popular__link,
.brands__link {
    color: white;
    font-size: 14px;
    background-color: #ee3643;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.29;
    min-height: 38px;
    width: 253px;
    margin: 0 24px;
    margin-top: 25px;
    margin-bottom: 26px;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 9px;
    border-radius: 3px;
}

.brands__link {
    padding-top: 10px;
}

.popular__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brands__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brands__item {
    width: 220px;
    box-sizing: border-box;
    min-height: 145px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
    margin-bottom: 20px;
    transition: all 0.3s;
    /* IE support */
    display: flex;
    flex-direction: column;
}

.brands__item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    border-color: white;
}

.brands__item:active {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brands__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
    min-height: 143px;
}

.brands__item a:active {
    opacity: 0.3;
}

.brands__item a:focus {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    border-color: white;
    outline: none;
}

.brands__item:first-child img {
    padding-bottom: 2px;
}

.brands__item:nth-child(2) img {
    padding-bottom: 5px;
    padding-right: 2px;
}

.brands__item:nth-child(3) img {
    padding-bottom: 5px;
}

.brands__item:nth-child(3) img {
    padding-bottom: 5px;
}

.brands__item:nth-child(4) img {
    padding-bottom: 15px;
    padding-right: 2px;
}

.brands__item:nth-child(5) img {
    padding-top: 2px;
    padding-left: 4px;
}

.brands__item:nth-child(6) img {
    padding-bottom: 3px;
    padding-right: 3px;
}

.brands__item:nth-child(7) img {
    padding-bottom: 3px;
    padding-left: 1px;
}

.brands__item:nth-child(8) img {
    padding-bottom: 8px;
    padding-left: 4px;
}

.service {
    background-color: #f4f7f9;
    padding-top: 65px;
    z-index: 1;
}

/* Service */

.service__title {
    font-size: 30px;
    color: black;
    margin: 0;
    margin-bottom: 26px;
    text-transform: uppercase;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
}

.service__text {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    margin: 0;
    color: black;
}

.service__slider {
    display: flex;
    margin-top: 69px;
    padding-bottom: 98px;
    position: relative;
}

.service__list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.service__list::after {
    content: url(../img/shadow.png);
    position: absolute;
    top: -25%;
    right: 0;
}

.service__item button {
    box-shadow: inset 0px -1px 0 0 #293449, inset 0px 1px 0 0 #405069;
    background-color: #32425c;
    border: none;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    width: 240px;
    min-height: 62px;
    box-sizing: border-box;
    text-align: left;
    padding: 0 22px;
    padding-bottom: 4px;
}

.service__item:last-child button {
    min-height: 62px;
}

.service__item button:hover,
.service__item button:focus {
    background-color: #293449;
}

.service__active-item button {
    box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
    background-color: #ffffff;
    border: none;
    font-size: 21px;
    font-weight: bold;
    color: #32425c;
    cursor: default;
}

.service__active-item button:hover,
.service__active-item button:focus {
    background-color: #ffffff;
}

.service__block {
    margin-left: 80px;
}

.service__block__title {
    font-size: 36px;
    margin: 0;
    color: #32425c;
    text-transform: uppercase;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    position: relative;
    top: -2px;
}

.service__block__text {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    color: black;
    position: relative;
    z-index: 1;
    margin: 0;
    margin-top: 23px;
}

.service__block__img {
    position: absolute;
    bottom: 0;
    right: 1px;
    z-index: 0;
}

.service__block__link {
    color: white;
    font-size: 14px;
    background-color: #ee3643;
}

.service__block:not(.service__active-block) {
    display: none;
}

/* About-us and contacts */

.container-about {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 79px;
    margin-bottom: 86px;
}

.about-us__title,
.contacts__title {
    font-size: 30px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
}

.about-us__text,
.contacts__text {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    text-align: left;
    color: #000000;
    margin: 0;
}

.about-us__text {
    margin-top: 26px;
}

.about-us__text:last-of-type {
    margin-top: 24px;
    margin-bottom: 4px;
}

.about-us__list {
    list-style: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 2;
    text-align: left;
    color: #000000;
    margin: 0;
    padding: 10px;
}

.about-us__item {
    margin-bottom: 4px;
}

.about-us__item::before {
    content: url(../img/indicator.png);
    position: relative;
    top: -5px;
    left: -10px;
}

.about-us__link,
.contacts__link {
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: #ee3643;
    text-transform: uppercase;
    padding: 0 40px;
    padding-top: 12px;
    padding-bottom: 10px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
}

.about-us__link {
    margin-top: 13px;
}

.contacts__text {
    margin-top: 26px;
    margin-bottom: 31px;
}

.contacts__open-popup {
    display: flex;
    min-height: 158px;
    background-color: lavender;
}

.contacts__link {
    width: 300px;
    box-sizing: border-box;
    margin-top: 36px;
    padding-left: 45px;
}

/* Map popup */

.map-popup {
    display: none;
    width: 940px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -470px;
    z-index: 10;
}

.map-popup img {
    box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
}

.map-popup__close,
.contact-popup__close {
    position: absolute;
    top: 4px;
    right: 5px;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../img/close.svg) no-repeat 50% 50%;
}

/* Contact popup */

.contact-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -215px;
    margin-left: -310px;
    z-index: 10;
    background-color: white;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
    width: 620px;
    min-height: 430px;
    box-sizing: border-box;
    border-top: solid 7px #ff5357;
}

.contact-popup__form {
    margin-top: 45px;
}

.contact-popup__label {
    font-size: 18px;
}

.contact-popup__form-top {
    width: 460px;
    margin: 0 auto;
    margin-bottom: 13px;
    display: flex;
    flex-wrap: wrap;
}

.contact-popup__form-half-part {
    width: 220px;
    margin: 0;
    margin-bottom: 20px;
}

.contact-popup__form-half-part:first-child {
    margin-right: 20px;
}

.contact-popup__half-part-input {
    width: 100%;
    font-family: "PT Sans", Arial, sans-serif;
    box-sizing: border-box;
    margin-top: 9px;
    padding: 10px 13px;
    border: solid 2px #dee3e4;
    border-radius: 2px;
    font-size: 13px;
}

/* Placeholder style */

.contact-popup__half-part-input::-webkit-input-placeholder,
.contact-popup__full-part-input::-webkit-input-placeholder {
    font-size: 13px;
    line-height: 1.38;
    color: #a9a9a9;
}

.contact-popup__half-part-input::-moz-placeholder,
.contact-popup__full-part-input::-moz-placeholder {
    font-size: 13px;
    line-height: 1.38;
    color: #a9a9a9;
}

.contact-popup__half-part-input:-ms-input-placeholder,
.contact-popup__full-part-input:-ms-input-placeholder {
    font-size: 13px;
    line-height: 1.38;
    color: #a9a9a9;
}

.contact-popup__half-part-input::-ms-input-placeholder,
.contact-popup__full-part-input::-ms-input-placeholder {
    font-size: 13px;
    line-height: 1.38;
    color: #a9a9a9;
}

.contact-popup__half-part-input::placeholder,
.contact-popup__full-part-input::placeholder {
    font-size: 13px;
    line-height: 1.38;
    color: #a9a9a9;
}

.contact-popup__form-full-part {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

.contact-popup__full-part-input {
    width: 100%;
    font-family: "PT Sans", Arial, sans-serif;
    box-sizing: border-box;
    min-height: 114px;
    resize: none;
    margin-top: 8px;
    padding: 8px 13px;
    border: solid 2px #dee3e4;
    border-radius: 2px;
    font-size: 13px;
}

.contact-popup__half-part-input:hover,
.contact-popup__full-part-input:hover {
    border-color: #b5b5b5;
}

.contact-popup__half-part-input:focus,
.contact-popup__full-part-input:focus {
    border-color: #ee3643;
    outline: none;
}

.contact-popup__form-bottom {
    width: 100%;
    padding: 37px 0;
    margin-bottom: 0;
    background-color: #f4f4f4;
}

.contact-popup__form-submit {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    background-color: #ee3643;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    width: 460px;
    padding: 10px;
}

.contact-popup__close {
    top: 4px;
    right: 5px;
}

/* Catalog.html */

/* Breadcrumbs */

.breadcrumbs {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    display: flex;
    margin-top: 23px;
}

.breadcrumbs__item {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    margin-right: 41px;
}

.breadcrumbs__item a {
    color: black;
    position: relative;
}

.breadcrumbs__item a::after {
    content: "";
    display: block;
    width: 8px;
    height: 12px;
    position: absolute;
    top: 2px;
    right: -25px;
    background: url(../img/icon-right-small.svg) no-repeat 50% 50%;
}

.main-title {
    font-size: 30px;
    color: #32425c;
    background-color: #f2f6f8;
    padding: 30px 27px;
    padding-bottom: 29px;
    margin-top: 21px;
    margin-bottom: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
}

.catalog-container {
    display: flex;
    justify-content: space-between;
}

/* Filter */

.filter {
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    width: 220px;
}

.filter__form {
    color: #000000;
}

.filter__title {
    font-size: 13px;
    color: black;
    background-color: #f7f3ec;
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 18px;
    border-radius: 2px;
}

.filter-price__group {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}

.filter-price__title {
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: normal;
    margin-bottom: 14px;
}

.filter-price__range-slider-track {
    position: relative;
    width: 220px;
    min-height: 80px;
    background-color: #f7f3ec;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 39px;
    margin-bottom: 9px;
    border-radius: 3px;
    box-sizing: border-box;
}

.filter-price__range-slider-track__scale {
    height: 2px;
    background-color: #d7dcde;
}

.filter-price__range-slider-track__bar {
    width: 80%;
    height: 2px;
    background: #00ca74;
}

.filter-price__range-slider-pin {
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.filter-price__range-slider-pin-min {
    left: 20px;
}

.filter-price__range-slider-pin-max {
    left: 160px;
}

.filter-price__inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type=number]{
  -moz-appearance: textfield;
}

.filter-price__input {
    background-color: #f7f3ec;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    border: none;
    padding: 0;
    padding-top: 9px;
    padding-bottom: 10px;
    width: 95px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    /* IE support */
    flex-grow: 1;
}

.filter-price__input:first-of-type {
    padding-left: 5px;
}

.filter-price__input:last-of-type {
    padding-left: 1px;
}

.filter-price__sep {
    margin: 0 8px;
    padding-bottom: 2px;
}

.filter-other__group {
    border: none;
    padding: 0;
    margin: 0;
}

.filter-other__title {
    font-size: 17px;
    font-weight: bold;
    margin: 25px 0;
    margin-bottom: 14px;
    padding-top: 17px;
    border-top: solid 1px #e5e5e5;
    width: 100%;
    line-height: 1.76;
    letter-spacing: 0.17px;
}

.filter-other__list {
    list-style: none;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.filter-other__list:first-of-type {
    margin-bottom: 23px;
}

.filter-other__item {
    margin-top: 21px;
}

.filter-other__item:first-child {
    margin-top: 0;
}

.filter-other__label {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    padding-left: 34px;
    box-sizing: border-box;
    position: relative;
	cursor: pointer;
}

/* Custom checkbox */

.filter-other__input-checkbox + .filter-other__label::before {
    content: "";
    position: absolute;
    top: -1px;
    margin-left: -34px;
    width: 27px;
    height: 23px;
	background: url(../img/checkbox-off.svg) no-repeat;
}

.filter-other__input-checkbox:checked + .filter-other__label::before {
	background-image: url(../img/checkbox-on.svg);
}

.filter-other__input-checkbox:hover + .filter-other__label::before,
.filter-other__input-checkbox:focus + .filter-other__label::before {
	background-image: url(../img/checkbox-off-hover.svg);
}

.filter-other__input-checkbox:checked:hover + .filter-other__label::before,
.filter-other__input-checkbox:checked:focus + .filter-other__label::before {
	background-image: url(../img/checkbox-on-hover.svg);
}

.filter-other__input-checkbox:disabled + .filter-other__label::before {
    background-image: url(../img/checkbox-off-hover.svg);
    opacity: 0.5;
}

.filter-other__input-checkbox:checked:disabled + .filter-other__label::before {
    background-image: url(../img/checkbox-on-hover.svg);
    opacity: 0.5;
}

.filter-other__input-checkbox:disabled + .filter-other__label {
    opacity: 0.6;
}

/* Custom radio */

.filter-other__input-radio + .filter-other__label::before {
    content: "";
    position: absolute;
    top: -2px;
    margin-left: -35px;
    width: 25px;
    height: 25px;
	background: url(../img/radio-off.svg) no-repeat;
}

.filter-other__input-radio:checked + .filter-other__label::before {
	background-image: url(../img/radio-on.svg);
}

.filter-other__input-radio:hover + .filter-other__label::before,
.filter-other__input-radio:focus + .filter-other__label::before {
	background-image: url(../img/radio-off-hover.svg);
}

.filter-other__input-radio:checked:hover + .filter-other__label::before,
.filter-other__input-radio:checked:focus + .filter-other__label::before {
	background-image: url(../img/radio-on-hover.svg);
}

.filter-other__input-radio:disabled + .filter-other__label::before {
    background-image: url(../img/radio-off-hover.svg);
    opacity: 0.5;
}

.filter-other__input-radio:checked:disabled + .filter-other__label::before {
    background-image: url(../img/radio-on-hover.svg);
    opacity: 0.5;
}

.filter-other__input-radio:disabled + .filter-other__label {
    opacity: 0.6;
}

.filter__form button {
    font-size: 13px;
    text-transform: inherit;
    background-color: white;
    border: solid 1px #e5e5e5;
    width: 140px;
    min-height: 38px;
    margin-top: 57px;
    cursor: pointer;
}

/* Catalog section - sort */

.sort {
    background-color: #f7f3ec;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    padding: 9.5px 17px;
    padding-left: 19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sort__title {
    font-size: 13px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    vertical-align: middle;
}

.sort__list {
    list-style: none;
    margin: 0;
    margin-left: 93px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -2px;
}

.sort__item:first-child {
    margin-right: 71px;
}

.sort__item:nth-child(2) {
    margin-right: 65px;
}

.sort__item button {
    font-family: inherit;
    text-transform: inherit;
    box-sizing: border-box;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: dotted 1px #ee3643;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.18);
    padding: 0;
}

.sort__item button:hover {
    border-bottom-style: solid;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.sort__item button:active,
.sort__item-active button {
    border-color: #f7f3ec;
    color: #ee3643;
}

.sort__item-active button:hover {
    border-color: #f7f3ec;
    color: #ee3643;
    cursor: default;
}

.sort__list-2 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.sort__item-2 {
    width: 11px;
    height: 10px;
    display: flex;
}

.sort__item-2:first-child {
    margin-right: 21px;
}

.sort__item-2 button {
    border: none;
    width: 11px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    cursor: pointer;
}

.sort__item-2-active button {
    cursor: default;
}

.sort__item-2 svg {
    display: block;
}

.sort__item-2 path {
    fill: #c5c5c5;
}

.sort__item-2:hover path {
    fill: #231F20;
}

.sort__item-2-active:hover path,
.sort__item-2-active path,
.sort__item-2:active path {
    fill: #ee3643;
}

/* Catalog section - products */

.catalog {
    width: 700px;
}

.catalog__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 20px;
}

/* Catalog section - catalog navigation */

.catalog__nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 60px;
}

.catalog__nav-item {
    min-height: 38px;
    margin-right: 10px;
}

.catalog__nav-item a {
    color: black;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "PT Sans", Arial, sans-serif;
    border: solid 1px #e5e5e5;
    display: block;
    box-sizing: border-box;
    padding: 11px 0;
    padding-left: 15px;
    min-width: 38px;
    min-height: 38px;
    border-radius: 2px;
}

.catalog__nav-item:last-child a {
    padding-left: 32px;
    padding-right: 29px;
}

.catalog__nav-item a:hover {
    border-color: #bdc6ca;
}

.catalog__nav-item a:active {
    border-color: #ee3643;
}

.catalog__nav-active-item a,
.catalog__nav-active-item:hover a,
.catalog__nav-active-item:active a {
    border-color: #ee3643;
    color: white;
    font-size: 13px;
    font-family: "PT Sans", Arial, sans-serif;
    background-color: #ee3643;
    cursor: pointer;
}

/* About product */

.about-product {
    background-color: #f4f7f9;
}

.about-product__title {
    margin: 0;
    padding-top: 65px;
    padding-bottom: 26px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
}

.about-product__text {
    font-family: "PT Sans", Arial, sans-serif;
    padding-bottom: 68px;
    font-size: 13px;
    line-height: 1.85;
    margin: 0;
}

/* Addded to backet popup */

.added-to-basket-popup {
    display: none;
    width: 620px;
    min-height: 282px;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -141px;
    margin-left: -310px;
    background-color: white;
    box-sizing: border-box;
    border-top: solid 7px #ff5357;
    box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.added-to-basket-popup__top {
    display: flex;
    flex-wrap: wrap;
    padding: 48.5px 81px;
}

.added-to-basket-popup__img {
    margin-right: 32px;
    margin-top: -1px;
}

.added-to-basket-popup__title {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 1;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    margin: 0;
    margin-top: 16px;
    margin-left: 2px;
}

.added-to-basket-popup__bottom {
    background-color: #f1f1f1;
    padding: 0 80px;
    padding-top: 38px;
    padding-bottom: 36px;
    display: flex;
}

.added-to-basket-popup__bottom a {
    width: 220px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-right: 1px;
    border-radius: 3px;
}

.added-to-basket-popup__red-link {
    margin-right: 20px;
    background-color: #ee3643;
    color: white;
}

.added-to-basket-popup__white-link {
    color: black;
    background-color: #ffffff;
}

.added-to-basket-popup__close {
    position: absolute;
    top: 4px;
    right: 5px;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../img/close.svg) no-repeat 50% 50%;
}

/* Product card */

.product-card {
    position: relative;
    width: 218px;
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #e5e5e5;
    font-family: "PT Sans", Arial, sans-serif;
    transition: all 0.3s;
}

.product-card:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    border-color: white;
}

.product-card a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 316px;
}

.product-card a:focus {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    border-color: white;
    outline: none;
}

.product-card__new {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -1px;
    right: -1px;
    z-index: 2;
    background: url(../img/new-flag.png) no-repeat 0 0;
}

.product-card__caption {
    font-size: 18px;
    padding: 0 25px;
    padding-left: 24px;
    margin: 0;
    margin-top: 9px;
    color: black;
}

.product-card__old-price {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 8px;
    padding-left: 3px;
    color: #a9a9a9;
    text-decoration: line-through;
}

.product-card__price {
    width: 145px;
    padding: 9.5px 0;
    position: relative;
    font-size: 17px;
    font-weight: bold;
    margin: 20px auto;
    margin-left: 38px;
    text-align: center;
    color: white;
    background: url(../img/item-button.svg) no-repeat 100% center;
    /* IE support */
    position: absolute;
    bottom: 0;
}

.product-card__item-hover {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 44px 42px;
    background-color: white;
    z-index: 1;
    list-style: none;
    display: none;
}

.product-card:hover .product-card__item-hover {
    display: block;
}

.product-card__add-to-cart,
.product-card__add-to-bookmarks {
    text-transform: uppercase;
    border-radius: 3px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 8px;
    text-align: center;
    min-width: 135px;
    min-height: 38px;
    padding-left: 9px;
    padding-top: 2px;
    box-sizing: border-box;
    cursor: pointer;
}

.product-card__add-to-cart {
    box-shadow: inset 0px -3px 0 0 #367315;
    border: none;
    color: white;
    background-color: #63a63e;
    position: relative;
}

.product-card__add-to-cart::before {
    content: url(../img/icon-cart.svg);
    position: absolute;
    top: 30%;
    left: 10%;
    opacity: 0.3;
}

.product-card__add-to-cart:hover {
    background-color: #5fbb2d;
}

.product-card__add-to-cart:hover::before,
.product-card__add-to-cart:active::before {
    opacity: 1;
}

.product-card__add-to-cart:active {
    background-color: #518534;
    box-shadow: none;
}

.product-card__add-to-bookmarks {
    background-color: white;
    border: solid 3px #63a63e;
    border-radius: 3px;
    color: black;
}

.product-card__add-to-bookmarks:hover {
    border-color: #32425c;
}

.product-card__add-to-bookmarks:active {
    border-color: #32425c;
    opacity: 0.3;
}

.popular__list .product-card {
    margin-bottom: 21px;
}

/* Footer - footer top */

.footer-top {
    background-color: #32425c;
}

.footer-top-1part {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-top-1part__logo {
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
    padding: 20px 41px;
    padding-bottom: 25px;
}

.footer-top-1part__list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.footer-top-1part__item {
    padding-right: 59px;
    margin-top: 20px;
}

.footer-top-1part__item:last-child {
    padding-right: 0;
}

.footer-top-1part__item a {
    font-size: 18px;
    color: #f1f5f7;
}

.footer-top-2part {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 51px;
}

.footer-top-2part__info {
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
    color: #f3f7f9;
    margin: 0 3px;
    margin-top: 28px;
}

.footer-top-2part__info a {
    color: inherit;
}

.footer-top-2part__list {
    list-style: none;
    margin: 0;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
}

.footer-top-2part__item {
    padding-right: 60px;
    margin-top: 20px;
}

.footer-top-2part__item:last-child {
    padding-right: 0;
}

.footer-top-2part__item a {
    color: #ffd180;
    font-size: 18px;
}

.footer-top-1part__item a:hover,
.footer-top-2part__item a:hover,
.footer-top-1part__item a:focus,
.footer-top-2part__item a:focus {
    text-decoration: underline;
    outline: none;
}

.footer-top-1part__item a:active,
.footer-top-2part__item a:active {
    opacity: 0.5;
    text-decoration: none;
}

/* Footer - footer bottom */

.footer-bottom {
    background-color: #293449;
}

.footer-bottom .container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2px;
    box-sizing: border-box;
    min-height: 107px;
}

.footer-bottom__copyright {
    margin: 0;
    padding-left: 1px;
    font-size: 16px;
    line-height: 1.13;
    text-align: left;
    color: white;
    margin: 15px 0;
    margin-right: auto;
}


.footer-bottom__socials {
    list-style: none;
    margin-right: 116px;
    margin-top: 19px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.footer-bottom__item {
    margin-right: 3px;
    margin-bottom: 3px;
}

.footer-bottom__item a {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 25px;
    background: #212a3a url(../img/icon-vk.svg) no-repeat 50% 50%;
}

.footer-bottom__fb a {
    background-image: url(../img/icon-fb.svg);
}

.footer-bottom__insta a {
    background-image: url(../img/icon-insta.svg);
}

.footer-bottom__item a:hover,
.footer-bottom__item a:focus {
    background-color: #ee3643;
    outline: none;
}

.footer-bottom__feedback,
.footer-bottom__developed {
    font-size: 16px;
    line-height: 1.13;
    text-align: left;
    color: white;
    margin: 15px 0;
}

.footer-bottom__developed {
    margin-right: 14px;
}

.footer-bottom__feedback {
    margin-right: 52px;
}

.footer-bottom__feedback a,
.footer-bottom__developed a {
    color: #ffd180;
}

.footer-bottom__feedback a:hover,
.footer-bottom__developed a:hover {
    text-decoration: underline;
}

.footer-bottom__feedback a:active,
.footer-bottom__developed a:active,
.footer-bottom__feedback a:focus,
.footer-bottom__developed a:focus {
    text-decoration: none;
    color: #ee3643;
    outline: none;
}
